.wrapper {
  background-color: #ecf0f5;
}

.subscriber-banner {
  height: 75px;
  border-bottom: 2px solid #f39c12;
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  .subscriber-banner {
    height: 150px;
    border-bottom-width: 4px;
  }
}
